<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top" style="text-shadow: 1px 1px 2px black">{{site.title}}</a> -->

                <!-- <a class="navbar-brand page-scroll" href="#page-top"
                    style="background:
                            -webkit-linear-gradient( #4ff14f, #0a690a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            filter: drop-shadow(1px 1px 2px black)">
                </a> -->

                <a class="navbar-brand page-scroll" href="#page-top"
                    style="background:
                            -webkit-linear-gradient( #4ff14f, #0a690a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            filter: drop-shadow(1px 1px 2px black)">
                  {{site.title}}
                </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="filter: drop-shadow(1px 1px 2px black)">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     
                    <li>
                        <a class="page-scroll" href="#portfolio">Posts</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="https://www.youtube.com/channel/UCTfWCvZfl0-DAPfyI3loqlg">Youtube</a>
                    </li>
                    
                    <!-- <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li> -->
                    
                    <!-- <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li> -->

                    <!-- <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li> -->

                    <!-- <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li> -->
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style="filter: drop-shadow(2px 2px 3px black)">
                <div class="intro-lead-in">Suzi CFO</div>
                <div class="intro-heading">
                    Get a grasp on your financials <br>
                    so that you can focus on growing your business.
                <!-- <div class="intro-heading">Suzi CFO is here to save the day by helping you get a grasp on your financials so that you can focus on growing your business. -->
                </div>
                  <!-- <a href="tel:5551239876" class="btn btn-xl">
                    <div> Call: (555) 123-9876</div>
                  </a> -->
                  <!-- <a href="tel:5551239876" class="btn btn-xl"><div style="background:
                          -webkit-linear-gradient( #ffa500, #ff000a, #000);
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                          filter: drop-shadow(1px 1px 2px black)"> Call: (555) 123-9876</div></a> -->
                  <br><br>
                <a href="#portfolio" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
